// Import page-specific CSS files here.
@import "home";

.index-background {
  // background-image: asset-url('');
  background-image: url('tropical_sunset_54.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
  background-color: aqua;
}
