// Import page-specific CSS files here.
@import "home";

.index-background {
  background-image: asset-url('bonzabay.JPG');
  background-size: cover;
  background-position: top;
  height: 100vh;
  background-color: aqua;
}
