// #banner {
 // width: 100%;
 // background-image: url("../components/ ");
 // height: 500px;
  // background-size: cover;
  // background-position: center;
// }

.banner {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  // background-size: cover;
  background-position: center;
  // background-image: asset-url("island.jpg");
}
