.form-new-island {
  // position: absolute;
  // left: 32.01%;
  // right: 1.26%;
  // top: 11.3%;
  // bottom: 6.92%;
  // background: #0046AE;
  // backdrop-filter: blur(2px);
  // border-radius: 5px;
  width: 50%;
  display: flex;
  margin: 20px auto;
}
