.form-new-island {
  position: absolute;
  left: 32.01%;
  right: 1.26%;
  top: 11.3%;
  bottom: 6.92%;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  background-image: url('/assets/maldives_desert_islands-2.jpg');
  background-size: cover;
}
