.homebanner {
  height: 500px;
  background-position: center;
  background-size: cover;
}

.homeimage {
  height: 400px;
  width: 600px;
}

.separate {
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.welcome {
  padding: 30px 30px 30px 30px;
}

.card {
  width: 300px;
  height: 600px;
  background-image: url(https://images.unsplash.com/photo-1456840449473-320da5d25d3c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
  background-position: center;
  background-size: cover;
}


h1, h2, h4 {
  font-family: 'Cormorant Garamond', serif;
}

.hyperlink-gold {
  text-decoration: none;
}
