
.booking-card-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  height: 160px;
}



.booking-card-content {
  background-color: white;
  // text-align: left;
  padding: 20px;
}
