.navbar-lewagon {
  justify-content: space-evenly;
  align-items: center;
  background: rgba(217, 206, 183, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
