.new-island-inputs-1 {
  position: absolute;
  left: 0%;
  right: 48.69%;
  top: 12.45%;
  bottom: 81.2%;

  background: #B2C6D5;
  border-radius: 50px;
}

.new-island-inputs-2 {
  position: absolute;
  left: 0%;
  right: 48.69%;
  top: 22.29%;
  bottom: 71.36%;

  background: #B2C6D5;
  border-radius: 50px;
}


.new-island-inputs-3 {
  position: absolute;
  left: 0%;
  right: 48.69%;
  top: 32.13%;
  bottom: 4.73%;


  background: #B2C6D5;
  border-radius: 5px;
}
