<<<<<<< HEAD
// .new-island-inputs-1 {
//   position: absolute;
//   left: 3%;
//   width: 48.23%;
//   top: 10.46%;
//   bottom: 83.19%;
=======
.new-island-inputs-1 {
  // position: absolute;
  // left: 3%;
  // width: 48.23%;
  // top: 10.46%;
  // bottom: 83.19%;
>>>>>>> 1fae210888930be2f51870d0a5adcd66421b863c

//   background: #b2c6d574;
//   border-radius: 5px;
// }

<<<<<<< HEAD
// .new-island-inputs-2 {
//   position: absolute;
//   left: 3%;
//   width: 48.23%;
//   top: 17.68%;
//   bottom: 75.97%;
=======
.new-island-inputs-2 {
  // position: absolute;
  // left: 3%;
  // width: 48.23%;
  // top: 17.68%;
  // bottom: 75.97%;
>>>>>>> 1fae210888930be2f51870d0a5adcd66421b863c

//   background: #b2c6d574;
//   border-radius: 5px;
// }

<<<<<<< HEAD
// .new-island-inputs-3 {
//   position: absolute;
//   left: 3%;
//   width: 48.23%;
//   top: 25.03%;
//   bottom: 68.62%;
=======
.new-island-inputs-3 {
  // position: absolute;
  // left: 3%;
  // width: 48.23%;
  // top: 25.03%;
  // bottom: 68.62%;
>>>>>>> 1fae210888930be2f51870d0a5adcd66421b863c

//   background: #b2c6d574;
//   border-radius: 5px;
// }


<<<<<<< HEAD
// .new-island-inputs-4 {
//   position: absolute;
//   left: 3%;
//   right: 48.69%;
//   top: 32.13%;
//   bottom: 4.73%;
=======
.new-island-inputs-4 {
  // position: absolute;
  // left: 3%;
  // right: 48.69%;
  // top: 32.13%;
  // bottom: 4.73%;
>>>>>>> 1fae210888930be2f51870d0a5adcd66421b863c


//   background: #b2c6d574;
//   border-radius: 5px;
// }

<<<<<<< HEAD
// .new-island-inputs-5 {
//   position: absolute;
//   width: 43%;
//   right: 3.94%;
//   top: 10.46%;
//   bottom: 17.62%;
=======
.new-island-inputs-5 {

  position: absolute;
  width: 43%;
  right: 3.94%;
  top: 10.46%;
  bottom: 17.62%;
>>>>>>> 1fae210888930be2f51870d0a5adcd66421b863c

//   background: #b2c6d574;
//   border-radius: 5px;
// }

// .new-island-inputs-6 {
//   position: absolute;
//   width: 43%;
//   right: 4.03%;
//   top: 87.01%;
//   bottom: 4.73%;

<<<<<<< HEAD
//   background: #ff3e3e;
//   border-radius: 5px;
// }

// .list-your-island-header {
//   position: absolute;
//   left: 39%;
//   right: 30%;
//   top: 1%;
//   bottom: 90%;
=======

  background: #f3808085;
  border-radius: 50px;
}

.list-your-island-header {
  // position: absolute;
  // left: 39%;
  // right: 30%;
  // top: 1%;
  // bottom: 90%;
>>>>>>> 1fae210888930be2f51870d0a5adcd66421b863c

//   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 24px;
//   /* or 67% */

<<<<<<< HEAD
//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.38px;

//   color: rgba(37, 37, 37, 0.72);
// }

/* 64ac15 */
// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }
// body {
//   padding: 1em;
//   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-size: 15px;
//   color: #566992;
// }
=======
  // display: flex;
  // align-items: center;
  justify-content: center;
  // text-align: center;
  letter-spacing: 0.38px;
  margin: 20px auto;


  color: rgba(37, 37, 37, 0.72);

}
>>>>>>> 1fae210888930be2f51870d0a5adcd66421b863c
