.new-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/white-sand-beaches-hd-wallpaper-3840x2160.jpg');
  background-size: cover;
}

.content-container {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

}


.box {

  padding: 40px;
  background: #04004b;
  color: #fad73b;
  -webkit-box-shadow: -10px 30px 10px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 30px; /* Adjust the value as needed */
  right: 300px; /* Adjust the value as needed */
  left: 0;
  overflow-y: auto;
  word-wrap: break-word; /* Add this line to wrap text within the box */
  height: auto;
}

input[type="text"]::placeholder {
  opacity: 0.6; /* Adjust the opacity value as needed */
}


input[type="text"],
input[type="number"] {
  border: none;
  background: none;
  border-bottom: 1px solid #ccccccab;
  padding-bottom: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
}


input[type="submit"] {
  background-color: #f0f0f0; /* Set the background color */
  color: #000000; /* Set the text color */
  padding: 10px 20px; /* Adjust the padding as needed */
  border: none; /* Remove the border */
  border-radius: 4px; /* Apply border radius if desired */
  cursor: pointer; /* Set cursor style on hover */
}

input[type="submit"]:hover {
  background-color: #dddddd; /* Set the background color on hover */
}
